<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<script type="text/javascript" src="/js/GoogleMapsShowPosition.js"></script>
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a client Site</div>
		<table>
			<tr>
				<td>Client Site Name</td>
				<td><%= @clientSite.clientSiteName %> </td>
			</tr>
			<tr>
				<td>Client Site Address</td>
				<td><%= @clientSite.clientSiteAddress %> </td>
			</tr>
			<tr>
				<td>Client Site latitude</td>
				<td><%= @clientSite.clientSiteLocationLatitude  %> </td>
			</tr>
			<tr>
				<td>Client Site longtitude</td>
				<td><%= @clientSite.clientSiteLocationLongtitude %> </td>
			</tr>
		</table>
		<input type="hidden" value="<%= @clientSite.clientSiteLocationLatitude %>" id="clientSite_clientSiteLocationLatitude"></input>
		<input type="hidden" value="<%= @clientSite.clientSiteLocationLongtitude %>" id="clientSite_clientSiteLocationLongtitude"></input>
		<div id="map_canvas" style="width:90%; height: 300px; margin: 5%;" ></div>

		<script type="text/javascript">
			loadScript('clientSite_clientSiteLocationLatitude','clientSite_clientSiteLocationLongtitude');
		</script>>
	</div>
