<link rel="stylesheet" type="text/css" href="/css/form.css">
<div class="ClientUpdate">
	<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %><br/>

	<div class="module">
		<div class="moduleHeader">Update a client</div>
	<%= form_tag(:action => 'update', :id => @client.id) do |f| %>
		<p class="errors"><%= @client.errors.full_messages.join(', ') %></p>
		<%= render(:partial => "form", :locals => {:f => f}) %>
	
	
			<tr>
				<td>Old Password</td>
				<td><%= password_field_tag :oldPassword, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id=>'oldPassword', :value => @client.isAdmin %></td>
			</tr>
		</table>
		<%= submit_tag("Update Client", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>
	
	<% end %>
	</div>


</div>