<table summary="testSource form field">
	<tr>
		<td>Test Source location description</td>
		<td><%= f.text_field(:testSourceLocationDescription) %></td>
	</tr>

	<tr>
		<td>Test Source latitude</td>
		<td><%= f.text_field(:testSourceLocationLatitude) %></td>
	</tr>

	<tr>
		<td>Test Source longtitude</td>
		<td><%= f.text_field(:testSourceLocationLongtitude) %></td>
	</tr>

	<tr>
		<td>Test Source lower limit</td>
		<td><%= f.text_field(:testSourceLowerLimit) %></td>
	</tr>

	<tr>
		<td>Test Source upper limit</td>
		<td><%= f.text_field(:testSourceUpperLimit) %></td>
	</tr>

	<tr>
		<td>Parameter</td>
		<td><%= select_tag 'parameter_id', options_for_select(Parameter.joins("INNER JOIN Clients ON
																	Parameters.client_id = Clients.id").where(['Clients.id = ?', session[:id]]).collect{ |p| [p.parameterType, p.id] }) %></td>
	</tr> 

	<tr>
		<td>Inspection Point</td>
		<td>
			<%= select_tag 'inspectionPoint_id', options_for_select(InspectionPoint.joins("INNER JOIN ClientSites ON
											InspectionPoints.clientSite_id = ClientSites.id
											INNER JOIN Clients ON
											ClientSites.client_id = Clients.id").where(['Clients.id = ?', session[:id]]).collect{ |c| [c.inspectionPointDescription, c.id] }) %>
		</td>
	</tr>
	<%= f.hidden_field(:inspectionPoint_id) %>
	<%= f.hidden_field(:parameter_id) %>

	<script type="text/javascript" src='/js/setSelected.js'></script>
	<script type="text/javascript">
		setSelected('inspectionPoint_id', 'testSource_inspectionPoint_id');
		setSelected('parameter_id', 'testSource_parameter_id');
	</script>

</table>