<table summary="Client form field">
	<tr>
		<td>Inspection point description</td>
		<td><%= f.text_field(:inspectionPointDescription) %></td>
	</tr>
	<tr>
		<td>Inspection point latitude</td>
		<td><%= f.text_field(:inspectionPointLocationLatitude) %></td>
	</tr>
	<tr>
		<td>Inspection point longtitude</td>
		<td><%= f.text_field(:inspectionPointLocationLongtitude) %></td>
	</tr>
	<tr>
		<td>Client site</td>
		<td>
			<%= select_tag 'clientSite_id', options_for_select(ClientSite.where(['ClientSites.client_id = ?', session[:id]]).collect{ |c| [c.clientSiteName, c.id] }) %>
		</td>
	</tr>
	<%= f.hidden_field(:clientSite_id) %>

<script type="text/javascript" src='/js/setSelected.js'></script>
<script type="text/javascript">
	setSelected('clientSite_id', 'inspectionPoint_clientSite_id');
</script>

</script>
</table>