<div class="inspectionPointUpdate">
	<link rel="stylesheet" type="text/css" href="/css/form.css" /> 
	<script type="text/javascript" src="/js/GoogleMapsGetPosition.js"></script>
	<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %><br/>
	<div class="module">
		<div class="moduleHeader">Update an inspection point</div>
		<p class="errors"><%= @inspectionPoint.errors.full_messages.join(', ') %></p>
	<%= form_for(:inspectionPoint, :url => {:action => 'update', :id => @inspectionPoint.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div id="map_canvas" style="width:90%; height: 300px; margin: 5%;" ></div>

		<%= submit_tag("Update inspection point", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>

	<% end %>
	</div>
	<script type="text/javascript">
		loadScript('inspectionPoint_inspectionPointLocationLatitude','inspectionPoint_inspectionPointLocationLongtitude');
	</script>

</div>