<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a Contact</div>
		<table>
			<tr>
				<td>Contact Name</td>
				<td><%= @contact.contactName %> </td>
			</tr>
			<tr>
				<td>Contact Position</td>
				<td><%= @contact.contactPosition %> </td>
			</tr>
			<tr>
				<td>Contact Email</td>
				<td><%= @contact.contactEmail %> </td>
			</tr>
			<tr>
				<td>Contact Phone</td>
				<td><%= @contact.contactPhone %> </td>
			</tr>
			<tr>
				<td>Contact Client</td>
				<td><%= Client.where(['id = ?', @contact.client_id]).uniq.pluck(:clientName).join('') %> </td>
			</tr>
			<tr>
				<td>Contact Client Site</td>
				<td><%= ClientSite.where(['id = ?', @contact.clientSite_id]).uniq.pluck(:clientSiteName).join('')  %> </td>
			</tr>

		</table>
	</div>
