<div class="ContactUpdate">
	<link rel="stylesheet" type="text/css" href="/css/form.css" /> 
	<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %><br/>

	<div class="module">
	<div class="moduleHeader">Update contact</div>
	<p class="errors"><%= @contact.errors.full_messages.join(', ') %></p>
	<%= form_for(:contact, :url => {:action => 'update', :id => @contact.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>


		<%= submit_tag("Update Contact", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>

	<% end %>
	</div>

</div>