<link rel="stylesheet" type="text/css" href="/css/ControlPanelItem.css"/>
<link rel="stylesheet" type="text/css" href="/css/table.css" /> 

<div id="contactsMenu" class="menuPane" >
	<%= render(:partial => "control_panel/menu") %>
</div>
<div id="infoPane">
	<%= link_to("Add a new contact", {:action => 'new'}, :class => 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover', :id => 'addItem') %>
	<table>
		<tr>
			<th>Contact Name</th>
			<th>View Contact details</th>
			<th>Edit Contact details</th>
			<th>Delete Contact</th>
		</tr>
	<% @contacts.each do |contact| %>
		<tr> 
			<td><%= contact.contactName %> </td>
			<td><%= link_to("Show", {:action => 'show', :id => contact.id}, :class => 'action show') %> </td>
			<td><%= link_to("Edit", {:action => 'edit', :id => contact.id}, :class => 'action edit')  %> </td>
			<td><%= link_to("Delete", {:action => 'delete', :id => contact.id}, :class => 'action delete') %></td>
		</tr> 
	<%end%>
</table>
</div>
