<div class="ContactNew">
	<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %>
	<link rel="stylesheet" type="text/css" href="/css/form.css" /> 

	<div class="module">
		<div class="moduleHeader">Create a new Contact</div>
		<p class="errors"><%= @contact.errors.full_messages.join(', ') %></p>
	<%= form_for(:contact, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>


		<%= submit_tag("Create contact", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>

	<% end %>
	</div>


</div>