<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<script type="text/javascript" src="/js/GoogleMapsShowPosition.js"></script>
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a Inspection Point</div>
		<table>
			<tr>
				<td>Inspection Point Description</td>
				<td><%= @inspectionPoint.inspectionPointDescription %> </td>
			</tr>
			<tr>
				<td>Inspection Point latitude</td>
				<td><%= @inspectionPoint.inspectionPointLocationLatitude  %> </td>
			</tr>
			<tr>
				<td>Inspection Point longtitude</td>
				<td><%= @inspectionPoint.inspectionPointLocationLongtitude %> </td>
			</tr>
		</table>
		<input type="hidden" value="<%= @inspectionPoint.inspectionPointLocationLatitude %>" id="inspectionPoint_inspectionPointLocationLatitude"/>
		<input type="hidden" value="<%= @inspectionPoint.inspectionPointLocationLongtitude%>" id="inspectionPoint_inspectionPointLocationLongtitude"/>
		<div id="map_canvas" style="width:90%; height: 300px; margin: 5%;" ></div>

		<script type="text/javascript">
			loadScript('inspectionPoint_inspectionPointLocationLatitude','inspectionPoint_inspectionPointLocationLongtitude');
		</script>
	</div>
