<div class="testSourceUpdate">
	<%= link_to('< Back', {:action => 'list'}, :class => 'formBackLink') %><br/>
	<link rel="stylesheet" type="text/css" href="/css/form.css" /> 
	<script type="text/javascript" src="/js/GoogleMapsGetPosition.js"></script>
	<div class="module">
		<div class="moduleHeader">Update test source</div>
		<p class="errors"><%= @testSource.errors.full_messages.join(', ') %></p>
	<%= form_for(:testSource, :url => {:action => 'update', :id => @testSource.id}) do |f| %>

		<%= render(:partial => "form", :locals => {:f => f}) %>

		<div id="map_canvas" style="width:90%; height: 300px; margin: 5%;" ></div>

		<%= submit_tag("Update test source", :class => "formButton ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover") %>

	<% end %>
	</div>
	<script type="text/javascript">
		loadScript('testSource_testSourceLocationLatitude','testSource_testSourceLocationLongtitude');
	</script>


</div>