<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/form.css">
<script type="text/javascript" src="/js/GoogleMapsShowPosition.js"></script>
<%= link_to('< Back', {:action => "list"}) %><br/>
	<div class="module">
		<div class="moduleHeader">Viewing a Test Source</div>
		<table>
			<tr>
				<td>Test Source Location</td>
				<td><%= @testSource.id %> </td>
			</tr>
			<tr>
				<td>Test Source Location description</td>
				<td><%= @testSource.testSourceLocationDescription %> </td>
			</tr>
			<tr>
				<td>Test Source Latitude</td>
				<td><%= @testSource.testSourceLocationLatitude %> </td>
			</tr>
			<tr>
				<td>Test Source Longtitude</td>
				<td><%= @testSource.testSourceLocationLongtitude %> </td>
			</tr>
			<tr>
				<td>Test Source Upper Limit</td>
				<td><%= @testSource.testSourceUpperLimit %> </td>
			</tr>
			<tr>
				<td>Test Source Lower Limit</td>
				<td><%= @testSource.testSourceLowerLimit %> </td>
			</tr>
			<tr>
				<td>Parameter</td>
				<td><%= Parameter.where(['id = ?',@testSource.parameter_id]).uniq.pluck(:parameterType).join('')  %> </td>
			</tr>
			<tr>
				<td>Inspection Point</td>
				<td><%= InspectionPoint.where(['id = ?', @testSource.inspectionPoint_id]).uniq.pluck(:inspectionPointDescription).join('') %> </td>
			</tr>
		</table>
		<input type="hidden" value="<%= @testSource.testSourceLocationLatitude %>" id="testSource_testSourceLocationLatitude"/>
		<input type="hidden" value="<%= @testSource.testSourceLocationLongtitude%>" id="testSource_testSourceLocationLongtitude"/>
		<div id="map_canvas" style="width:90%; height: 300px; margin: 5%;" ></div>

		<script type="text/javascript">
			loadScript('testSource_testSourceLocationLatitude','testSource_testSourceLocationLongtitude');
		</script>
	</div>