<!DOCTYPE html>
<html>
<head>
  <title>Ensight</title>

<%= stylesheet_link_tag    "application", :media => "all" %>
 <!-- <%= javascript_include_tag "application" %> -->
  <%= csrf_meta_tags %>
	  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
	  <link rel="stylesheet" type="text/css" href="/css/custom-theme/jquery-ui-1.9.1.custom.min.css" type="image/x-icon"/>

  	
		<link rel="stylesheet" type="text/css" href="/css/custom-theme/jquery-ui-1.9.1.custom.min.css" type="image/x-icon"/>
		<link href="/css/styles.css" rel="stylesheet" type="text/css"/> 
		<!--<link href="/css/DashboardDesign.css" rel="stylesheet" type="text/css"/>-->



	<script type="text/javascript" src="/css/js/jquery-1.8.2.js"></script> 
	<!--<script type="text/javascript" src="js/jquery-1.9.1.js"></script>-->
  <script type="text/javascript" src="/css/js/jquery-ui-1.9.1.custom.min.js"></script>
  

</head>
<body>
	

	<div id="wrapper">
		<% if(session[:clientname] != nil) %>
			<a href="/index/logout" style="float:right; ">
				<input type="button" value="Logout" id="logout" style="font-size:10px; border: 1px solid #323232;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" />
			</a> 
			<a href="/ControlPanel" style="float:right; margin-right:10px;" >
				<input type="button" value="Control Panel" id="logout" style="font-size:10px; border: 1px solid #323232;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" />
			</a>
			<a href="/" style="float:right; margin-right:10px;" >
				<input type="button" value="Dashboard" id="logout" style="font-size:10px; border: 1px solid #323232;" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover" />
			</a>
			<span style="float:right; margin-right:20px; font-size:12px; margin-top:5px;">Welcome <%= session[:clientname]%></span>
		<% end %>

			<div id="header"><img src="/assets/logo.png" id='ensightLogo' alt="Ensight Logo"/></div>
				<div id="contentwrapper">
					<%= yield %>
				</div>
			<div id="footer"><center>Developed and Copyright © 2012 Ensight</center></div>
		</div>
		<div id="dialog-form" title="Login">
    <p style="margin:0; margin-top: 7px;" class="validateTips">All form fields are required.</p>
    <p style="color:red; margin:0; font-size:12px;"> <%= flash[:notice] %> </p>
	<%= form_tag({:action => 'attempt_login'}, {:id => "loginForm"}) do %>

		<input type='hidden' id='idHidden' value='<%= session[:id] %>'/> 
		<input type='hidden' id='clientHidden' value='<%= session[:clientname] %>'/> 
	    <fieldset>
	    	<table>
	    		<tr>
	    			<td>
			        	<%= label_tag(:username) %>
			       	</td>
			        <td>
			        	<%= text_field_tag :username, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id =>'username' %>

			        </td>
		    	</tr>

		    	<tr>
		    		<td>
				        <%= label_tag(:password) %>
				    </td>
				    <td>
				        <%= password_field_tag :password, nil, :class => 'text ui-widget-content ui-corner-all loginValues', :id=>'password' %>
				    </td>
		    	</tr>
		    	
	        </table>

	    </fieldset>
    <% end %>

</div>
<div id="spinner" title="Loading" style="z-index:1000; position:fixed;">
   <span stype="verticle-align: middle;"><img src="/assets/loading.gif"/> Loading, please wait... </span>
</div>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>
